main{
  width:1000px;
  background-color: white;
  border: 3px solid black;
  margin: 0  auto;
}

body{
  background-image: url("img/bg.jpg");
}

div{
  margin-top: 80px;
  margin-left: 80px;

}

h2{
  font-size: 4em;

}

form{
  font-size: 3em;
}

input, textarea{
  width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    
    border: 2px solid black;

}

#submit{
  border-radius: 25px;
  border: 2px solid black;
  font-size: 1em;
}

p{
  font-size: 3em;

}
