@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

path {
  fill: #FFFFFF;
}

footer {
  background-color: #111111;
}

footer div {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 auto;
  padding: 40px 50px;
}

#navbar {
  position: fixed;
  width: 100%;
  background-color: #111111;
  color: white;
}

#navbar ul {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#navbar ul li {
  transition: all 0.5s ease;
  padding: 0 10px;
  height: 190px;
}

#navbar ul li a {
  transition: all 0.5s ease;
  line-height: 190px;
  white-space: nowrap;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

#navbar ul li a:hover {
  text-decoration: underline;
}

#navbar ul li img {
  transition: all 0.5s ease;
  height: 150px;
  width: 150px;
  padding: 20px;
}

#navbar[class*="small"] ul li {
  height: 100px;
}

#navbar[class*="small"] ul li a {
  line-height: 100px;
  font-size: 20px;
}

#navbar[class*="small"] ul li img {
  width: 60px;
  height: 60px;
  padding: 20px;
}

#navbar[class*="toggled"] {
  top: 0;
}

#menu {
  transition: all 0.2s ease;
  z-index: 1;
  position: fixed;
  background-color: #111111;
  width: 100vw;
  pointer-events: none;
}

#menuButton {
  float: right;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: none;
  pointer-events: all;
}

#buttonTop {
  transition: all 0.5s ease;
  transform-origin: 50px 25px;
}

#buttonMid {
  transition: all 0.3s ease;
  opacity: 1;
}

#buttonBot {
  transition: all 0.5s ease;
  transform-origin: 50px 75px;
}

#menuButton[class*="toggled"] #buttonTop {
  transform: translateY(25px) rotate(135deg);
}

#menuButton[class*="toggled"] #buttonMid {
  opacity: 0;
}

#menuButton[class*="toggled"] #buttonBot {
  transform: translateY(-25px) rotate(-135deg);
}

.bg {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.bg1 {
  background-image: url("../img/forside_bilde_1.jpg");
  min-height: 100%;
}

.bg2 {
  background-image: url("../img/forside_bilde_2.jpg");
  min-height: 600px;
}

.bg3 {
  background-image: url("../img/forside_bilde_3.jpg");
  min-height: 600px;
}

.text {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 50px 80px;
}

.text h3 {
  letter-spacing: 5px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .bg {
    background-attachment: scroll;
  }

  .bg1 {
    min-height: 600px;
  }

  #navbar {
    transition: all 0.5s ease;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    background-color: rgba(6, 6, 8, 0.85);
    color: white;
    list-style: none;
  }

  #navbar ul {
    transition: all 0s;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  #navbar ul li {
    height: 100px;
    transition: all 0s;
    flex-grow: 1;
    text-align: center;
    line-height: calc(100vh/4);
    white-space: nowrap;
    width: 100vw;
  }

  #navbar ul li a {
    transition: all 0s;
    font-size: 60px;
    line-height: 100px;
  }

  #navbar ul li:nth-child(3) {
    transition: all 0s;
    display: none;
  }

  #navbar[class*="small"] ul li a {
    font-size: 60px;
  }

  #menu[class*="toggled"] {
    background-color: transparent;
  }

  #menuButton {
    display: block;
  }
}